@media (max-width: 1023px) {
  html {
    font-size: 1.25vw;
  }

  .img {
    background: url(../images/jarvimaisema2.webp);
    background-position: center;
    background-size: cover;
  }

  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .topShade-mobile {
    width: 100%;
    margin-left: 0rem;
    position: absolute;
    opacity: 0.85;
    z-index: -1;
    height: 100rem;
    background-image: linear-gradient(to bottom, rgba(0, 125, 192, 1) 0%, rgba(0, 125, 192, 0.2) 30%, rgba(0, 125, 192, 0) 40%);
  }

  .title1 {
    display: none;
  }

  .title1-mobile {
    padding: 0;
    width: calc(100% + 4rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8.5rem;
    letter-spacing: 1rem;
    color: #ebebeb;
    text-shadow: 0.4rem 0.4rem 1rem rgb(0, 0, 0);
    height: 32rem;
    margin-top: 0rem;
    padding-top: 5rem;
    display: block;
    text-align: center;
  }

  .newEntryAndStatisticsContainer {
    font-size: 4rem;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .newEntryContainer,
  .dateRangeMessageContainer,
  .showStatsButtonContainer,
  .barChartHoursMobileContainer,
  .countUpContainer,
  .radioGroupContainer,
  .barChartRankingsMobileContainer,
  .doughnutChartSpeciesMobileContainer {
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    backdrop-filter: blur(5rem);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .newEntryContainer {
    width: 100%;
    margin-bottom: 6rem;
    margin-top: 0rem;
    padding: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .title2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: rgba(0, 0, 0, 0.6) 0.3rem 0.3rem 0.9rem;
    color: #eeeeee;
  }

  .formContainer {
    line-height: 8.4rem;
    padding: 0 0.3rem;
  }

  .entryForm input {
    min-height: 1.3em;
    box-sizing: content-box;
    margin-left: 0.8rem;
    font-size: 4rem;
    border-radius: .7rem;
    padding: 0.7rem;
    border-width: 0.25rem;
    width: 41.1rem;
  }

  /*
  //tarvitaan min-padding-left jos halutaan varmistaa sama padding kaikille inputeille
  .entryForm input[type="date"], input[type="time"] {
    padding-left: 0;
    width: 41.8rem;
  }

  .entryForm input:not([type="date"], [type="time"]) {
    padding-left: 0.8rem;
    width: 40.9rem;
  }
  */

  input#locationCheckbox {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    margin-right: 0;
    margin-top: 2.5rem;
    transform: translate(0, 1.3rem);
  }

  .editEntryForm {
    width: fit-content;
    text-align: end;
    font-size: 3.5rem;
    color: #ffffff;
    padding: 2rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 7.25rem;
  }
  
  #editEntryTitle {
    color: whitesmoke;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    font-size: 4rem;
    width: fit-content;
    margin: auto;
  }
  
  .editEntryForm input {
    margin-left: 0.8rem;
    font-size: 3.5rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.7rem;
    padding: 0.7rem;
    border-width: 0.25rem;
    border-color: rgb(0, 0, 0);
    width: 35rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #submitEditButton {
    font-size: 3.5rem;
    margin-top: 2.5rem;
  }

  #cancelEditButton {
    font-size: 3.5rem;
    margin-top: 2.5rem;
  }

  .dateRangeMessageContainer {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .statisticsContainer1 {
    width: 100%;
    margin: 0;
    margin-bottom: 6rem;
  }

  .statisticsContainer2 {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 6rem;
  }

  .statisticsContainer3 {
    margin: 0;
    margin-bottom: 6rem;
    width: 100%;
  }

  .countUpContainer {
    padding-top: 5.92rem;
    width: 100%;
  }

  .countUpContainer #countUpTitle {
    font-size: 4rem;
    transform: translateY(-14.875rem);
  }

  .countUpContainer #countUp {
    font-size: 25rem;
    -webkit-text-stroke: 0.175rem black;
  }

  .barChartRankingsContainer {
    display: none;
  }

  .barChartRankingsMobileContainer {
    display: block;
    padding-top: 4.92rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4rem;
    width: 100%;
    height: 110rem;
    margin-bottom: 6rem;
  }

  .doughnutChartSpeciesContainer {
    display: none;
  }

  .doughnutChartSpeciesMobileContainer {
    display: block;
    width: 100%;
    height: 90rem;
    padding: 3rem;
    padding-bottom: 3.5rem;
    padding-top: 3.25rem;

  }

  .barChartHoursContainer {
    display: none;
  }

  .barChartHoursMobileContainer {
    display: block;
    margin: auto;
    width: 100%;
    height: 130rem;
    padding-left: 3rem;
    padding-top: 4.92rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  }

  .button {
    /* border:0.15rem solid #0b0e07;   */
    color: #ffffff;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    
  }

  .button:hover {
    background-color: var(--theme-color);
  }

  .button:active {
    background-color: #0073d8;
    position: relative;
    top: 0.1875rem;
  }

  #submitButton {
    margin-top: 2.5rem;
    font-size: 4rem;
    font-weight: bold;
  }

  .statAndSortButtonContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  #showStatsButton,
  #showSortingButton,
  #showDatePickerButton {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  #showStatsButton {
    font-size: 4rem;
    width: 100%;
  }

  .showStatsButtonContainer {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 6rem;
    padding: 4rem 5rem;
  }

  #showSortingButton, #showDatePickerButton {
    width: 49%;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  .tableUtilityContainer {
    flex-direction: column;
  }

  .sortAndDatePickerButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .datePicker {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
    background-color: transparent;
  }

  .datePickerTitle {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .datePickerContent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .datePickerContent1 label {
    width: fit-content;
  }

  .datePickerDash {
    display: none;
  }

  .datePickerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .datePickerLabel {
    display: block;
  }

  .datePicker input {
    font-size: 3.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #eeeeee;
    border-radius: 0.7rem;
    margin: 0.5rem;
    margin-left: 1.5rem;
    padding: 0.7rem;
    border-width: 0.25rem;
    border-style: inset;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    width: 35rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #yearButton {
    font-size: 3.5rem;
    /* padding: 0.4rem 1rem; */
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
  }

  #maxDateRangeButton {
    font-size: 3.5rem;
    /* padding: 0.4rem 1rem; */
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;
  }

  #okButton {
    font-size: 3.5rem;
    margin-top: 4rem;
  }

  .radioGroupContainer {
    border-radius: 1rem;
    box-shadow: 1rem 0.2rem 2rem 0 rgba(0, 0, 0, 0.2);
    height: 6rem;
    margin-bottom: 1rem;
  }

  .radioGroupContainer2 {
    padding: 2rem;
    padding-left: 4rem;
  }

  .radioContainer {
    font-weight: bold;
    font-size: 2rem;
  }

  .checkmark {
    top: 0.5rem;
  }

  .tableContainer {
    width: fit-content;
    width: 100%;
    margin: auto;
    margin-bottom: 82vh;
  }

  .entries {
    font-size: 1.75rem;
    /* font-weight: 500; */
    backdrop-filter: blur(5rem);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);

  }

  .entries td {
    border-bottom: 0.1rem solid rgb(89, 89, 89);
    border-top: 0.1rem solid rgb(89, 89, 89);
  }

  .noEntriesMessage {
    font-size: 2rem;
  }

  #deleteButton,
  #editButton {
    font-size: 1.2rem;
    border-width: 0.1rem;
  }

  #editButton {
    padding: 0.4rem 0rem;
    padding-left: 0.35rem;
  }

  #cancelEditButton {
    padding: 1.2rem 0rem;
  }

  .tableFooter {
    position: relative;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  }

  .activePaginationButton {
    font-size: 2rem;
    padding: 1rem 2.5rem;
    background-color: #0073d8;
  }

  .inactivePaginationButton {
    font-size: 2rem;
    padding: 1rem 2.5rem;
  }

  .activePaginationButton:hover {
    background-color: #0073d8;
  }

  footer {
    font-size: 2rem;
    margin-bottom: 18vh;
  }

}

@media (display-mode: standalone) and (max-width: 750px) {
  .title1-mobile {
    margin-top: 6rem;
  }

  .newEntryContainer {
    /* margin-bottom: 10rem; */
    margin-top: 6rem;
  }
}