html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/jarvimaisema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  margin: 0;
  padding: 1rem;
  /*padding-left: 3rem;
  padding-right: 3rem;*/
  min-height: 100vh;
}

.topShade {
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50rem;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(0, 125, 192) 0%, rgba(0,0,0,0) 30%);
  /*background-color: rgba(0, 0, 0, 0.2);*/
}

h1 {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.9rem; 
  color: #dddddd;
  text-shadow: 3px 3px 10px black;
  margin: 0;
  margin-top: 0.4rem;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: static;
  z-index: 1;
  transform: translateX(+0.5rem);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.newEntryContainer {
  width: fit-content;
  margin: 4rem auto 4rem;
  background-color: rgba(0, 0, 0, 0.43);
  padding: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #eeeeee;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  line-height: 3rem;
  backdrop-filter: blur(1.5rem);
}

.formContainer {
  width: fit-content;
  /*display: flex;
  justify-content: center;*/
  margin: auto;
}

.entryForm {
  width: fit-content;
  text-align: end;
  /*display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;*/
}

.entryForm input {
  margin-left: 0.4rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.3rem;
  border-width: 1px;
  border-color: rgb(74, 74, 74);
  /*width: 50%;*/
}

.tableContainer {
  width: fit-content;
  /*max-width: 80vw;*/
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.entries {
  border-collapse: collapse;
  min-width: fit-content;
  max-width: 80rem;
  
  /*box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.2);*/
}
  
.entries th, td:not(:last-child) {
  border: 1px solid #ddd;
  padding: 0.8rem;
  padding-right: 1rem;
}
  
.entries tbody tr:nth-child(even) :not(:last-child) {background-color: #f2f2f2;}
.entries tbody tr:nth-child(odd) :not(:last-child) {background-color: white;}
  
.entries tbody tr:hover :not(:last-child) {background-color: #ddd;}
  
.entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0096e7;
  color: white;
}

#deleteButton {
  margin-left: 1rem;
  font-size: 1rem;
  padding:0.4rem 1rem;
  box-shadow:inset 0px -3px 7px 0px #ff523e;
	background:linear-gradient(to bottom, #ff5b49 5%, rgb(255, 42, 42) 100%);
	background-color:#ff5b49;
  text-shadow:0px 1px 0px #380606;
}

#deleteButton:hover {
	background:linear-gradient(to bottom, rgb(255, 42, 42) 5%, #ff5b49 100%);
	background-color:rgb(255, 42, 42);
}

#submitButton {
  margin-top: 1rem;
  width: 77.5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #0096e7 5%, #0073d8 100%);
	background-color:#0096e7;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* /*font-family:Arial; */
	padding:0.6rem 1.5rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.button:hover {
	background:linear-gradient(to bottom, #0073d8 5%, #0096e7 100%);
	background-color:#0073d8;
}
.button:active {
	position:relative;
	top:1px;
}

