* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * { outline: 1px solid red; } */

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(./images/jarvimaisema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
}

.rootDiv {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
}

.topShade {
  opacity: 0.85;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 500%;
  height: 50rem;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(0, 125, 192) 0%, rgba(0,0,0,0) 30%);
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.9rem; 
  color: #dddddd;
  text-shadow: 3px 3px 10px black;
  margin: auto;
  width: fit-content;
  margin-top: 0.4rem;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*position: static;*/
  /*z-index: 1;*/
  transform: translateX(+0.5rem); 
}

.newEntryAndStatisticsContainer {
  width: fit-content;
  margin: auto;
}

.newEntryContainer {
  width: fit-content;
  margin: 4rem auto 4rem;
  background-color: rgba(0, 0, 0, 0.43);
  padding: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  backdrop-filter: blur(1.5rem);
}

.title2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.formContainer {
  line-height: 3rem;
  width: fit-content;
  margin: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 1px;
}

.entryForm {
  width: fit-content;
  text-align: end;
}

.entryForm input {
  margin-left: 0.4rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.3rem;
  border-width: 1px;
  border-color: rgb(74, 74, 74);
  width: 18rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input#locationCheckbox {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
  transform: translate(0, .5rem);
}

.editFormContainer {
  width: fit-content;
  line-height: 3rem;
  background-color: #6a6a6a;
}

.editEntryForm {
  width: fit-content;
  text-align: end;
  font-size: 1.5rem;
  color: white;
  padding: 0;
}

.editEntryForm input {
  margin-left: 0.4rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  padding: 0.3rem;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  width: 18rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.entryForm ::placeholder {
  color: rgb(135, 135, 135);
}

input[type=date]:invalid {
  color: rgb(135, 135, 135);
}

input[type=time]:invalid {
  color: rgb(135, 135, 135);
}

.statButtonAndRadioContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 6.5rem;
}

.statisticsContainer {
  margin: auto;
  margin-bottom: 4rem;
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 0.43);
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  backdrop-filter: blur(1.5rem);
  text-align: center;
  white-space: nowrap;
}

.statisticsContainer.appear {
  animation: appear-statistics 0.3s ease-in-out;
}

@keyframes appear-statistics {
  0% {
    width: 0;
    height: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.statisticsContainer.disappear {
  animation: disappear-statistics 0.3s ease-in-out;
}

@keyframes disappear-statistics {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 0;
  }
}


.stats {
  display: inline-block;
  vertical-align: top;
  text-align: end;
  list-style-type: none;
  padding: 0;
  margin: 2rem 2rem 0 2rem;
}

.stats.appear {
  animation: appear-stats 0.3s ease-in-out;
}

@keyframes appear-stats {
  0% {
    margin: 0;
  }
  100% {

  }
}

.stats.disappear {
  animation: disappear-stats 0.3s ease-in-out;
}

@keyframes disappear-stats {
  0% {

  }
  100% {
    margin: 0;
  }
}

.radioGroupContainer {
  color: #eee;
  border-radius: 1rem;
  margin-right: 6.5rem;
  margin-bottom: 0.5rem;
  height: 3.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: rgb(0, 0, 0) 0 1px 0;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.5rem);
  color: whitesmoke;
  border-radius: 1rem;
  overflow: hidden;
}

.radioGroupContainer label {
  margin: 0;
}

.radioGroupContainer.appear {
  animation: appear-radioGroupContainer 0.3s ease-in-out;
}


@keyframes appear-radioGroupContainer {
  0% {
    height: 0;
    margin-bottom: 0;
  }
  100% {
    
  }
}

.radioGroupContainer.disappear {
  animation: disappear-radioGroupContainer 0.3s ease-in-out;
}


@keyframes disappear-radioGroupContainer {
  0% {

  }
  100% {
    height: 0;
    margin-bottom: 0;
  }
}

.radioGroupContainer2 {
  padding: 1rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: stretch;
 
}

.radioContainer {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0.2rem;
  left: -2rem;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radioContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  background-color: #0096e7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
  top: 9px;
  left: 8.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#totalAmount {
  font-weight: 700;
  margin-top: 0;
}

.tableContainer {
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.entries {
  /*border-collapse: collapse;*/
  border-spacing: 0;
  width: fit-content;
  max-width: 80rem;
}
  
.entries th, td:not(:last-child) {
  border: 1px solid #ddd;
  padding: 0.8rem;
  padding-right: 1rem;
}

.entries thead th:last-child {border-top-right-radius: 0.3rem;}
.entries thead th:first-child {border-top-left-radius: 0.3rem;}
.entries tbody tr:last-of-type :nth-last-of-type(2) {border-bottom-right-radius: 0.3rem;}
.entries tbody tr:last-of-type :first-child {border-bottom-left-radius: 0.3rem;}
  
.entries tbody tr:nth-child(even) :not(:last-child) {background-color: #f2f2f2;}
.entries tbody tr:nth-child(odd) :not(:last-child) {background-color: white;}
  
.entries tbody tr:hover :not(:last-child) {background-color: #ddd;}

/*,:nth-last-child(2)*/
  
.entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0096e7;
  color: white;
}

.mapLinkContainer {
  padding-top: .8rem;
}

#mapLink:link {
  color: #0096e7;
}

#mapLink:visited {
  color: #0096e7;
}

#mapLink:hover {
  color: #000000;
}

#mapLink:active {
  color: #ffffff;
  background-color: #000000;
}

#deleteButton, #cancelEditButton{
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
  padding: 0.4rem 1rem;
  width: 100%;
  box-shadow:inset 0px -3px 7px 0px #ff8577;
	background:linear-gradient(to bottom, #ff6958 5%, rgb(255, 42, 42) 100%);
	background-color:#ff6958;
  text-shadow:0px 1px 0px #000000;
}

#cancelEditButton {
  font-size: 1.5rem;
  
  margin-top: 1rem;
  padding: 0.6rem 1rem;
}  

#deleteButton:hover, #cancelEditButton:hover {
	background:linear-gradient(to bottom, rgb(255, 42, 42) 5%, #ff6958 100%);
	background-color:rgb(255, 42, 42);
}

#editButton {
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  box-shadow:inset 0px -3px 7px 0px rgb(235, 125, 0);
	background:linear-gradient(to bottom, rgb(255, 163, 59) 5%, rgb(255, 136, 0) 100%);
	background-color:rgb(255, 163, 59);
  text-shadow:0px 1px 0px #000000;
}

#editButton:hover {
	background:linear-gradient(to bottom, rgb(255, 136, 0) 5%, rgb(255, 163, 59) 100%);
	background-color:rgb(255, 136, 0);
}

.deleteAndEditButtonContainer {
  width: 6.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

#submitButton, #submitEditButton {
  margin-top: 1rem;
  width: 18rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#submitEditButton {
  width: 100%;
}  

#showStatsButton, #showSortingButton {
  margin-bottom: 0.5rem;
  width: max-content;
  font-size: 1.5rem;
  font-weight: bold;
}

#showSortingButton {
  margin-right: -1px;
}

.button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #0096e7 5%, #0073d8 100%);
	background-color:#0096e7;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:0.6rem 1.5rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.button:hover {
	background:linear-gradient(to bottom, #0073d8 5%, #0096e7 100%);
	background-color:#0073d8;
}
.button:active {
	position:relative;
	top:1px;
}

/*.editModal {
  position: fixed;
  top:30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  color: #0073d8;
}

.editModalOverlay {
  position: 'fixed';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}*/

.laatikko {
  width: fit-content;
  margin: auto;
  background-color: red;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

/*
@media (max-width: 768px) {
  .newEntryAndStatisticsContainer {
    width:100%;
  }

  .newEntryContainer {
    width:90vw;
  
  }

  .title2 {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .laatikko {
    font-size: 1.5rem;
    width: 90%;
  }


}
*/

@media (max-width: 768px) {
  .laatikko {
    width:90vw;
  }

}

footer {
  /* background-color: #282828; */
  margin-top: 2rem;
  color: rgb(80, 80, 80);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  margin: auto;
  
}